<div class="profile-area large-12">
  <h4 class="text-center "><b> <%= @user.first_name %> </b> <%= @user.last_name %> </h4>
  <p><b>Bio</b> <%= @user.bio %></p>
  <p><b>Language(s):</b><%= @user.languages %></p>
</div>
<div class="small-centered medium-centered">
  <img src=" <%= @user.pf_img %>" class="pf-img">
  <%= link_to edit_user_path([@user]), method: :get do %>
  <i class="fi-burst"> Edit Profile Info</i>
  <% end %>
</div>
<br>
<br>
<div class="transitions-enabled small-3 small-centered medium-12 medium-centered large-up-3 large-centered" id="posts">
  <% current_user.posts.each do |post| %>
  <div class="box user-feed">
    <img src=" <%= post.image %>">
    <h5 class="text-center"> <%= link_to "#{post.title}", post_path(post) %> </h5>
    <p class="body-text"> <%= post.text %></p>
    <p class="body-text"><b>Posted on:</b> <%= post.created_at %></p>
    <%= link_to like_post_path([post]), method: :put do %>
    <i class="fi-heart"></i>
    <%= post.get_upvotes.size %>
    <% end %>
    <p class="tag text-center">
      <%= post.tag_list %>
    </p>
    <p>
      <%= link_to edit_post_path([post]), method: :get do %>
      <i class="fi-pencil"></i>
      <% end %>
      <%= link_to destroy_post_path([post]), method: :delete do %>
      <i class="fi-trash"></i>
      <% end %>
    </p>
  </div>
  <% end %>
</div>
