<div class="profile-area text-center">
  <h4><b> <%= @user.first_name %> </b> <%= @user.last_name %> </h4>
</div>
<img src=" <%= @user.pf_img %>" class="pf-img">
<br>
  <%= link_to "Edit Profile Info", edit_user_path(@user), class:"button hollow edit" %>
<div class="row small-up-1 medium-up-2 large-up-3">
  <% current_user.posts.each do |post| %>
  <div class="column">
    <br>
    <div class="callout">

      <h4 class="text-center"> <%= link_to "#{post.title}", post_path(post) %> </h4>
      <img src=" <%= post.image %>">
      <p class="body-text"> <%= post.text %></p>
      <p>
        <strong>Posted on:</strong> <%= post.created_at %>
      </p>
    </div>
  </div>
  <% end %>
</div>
