<b><h2 class="text-center"> Global Feed </h2></b>
<div class="container-fluid">
  <div class="row" id="map" style='width:870px; height: 300px;'></div>
  <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      scrollwheel: false,
      disableDefaultUI: false
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    handler.getMap().setZoom(15);
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
  });
  </script>
</div>

<div class="form-field large-9 large-centered">
  <h4 class="text-center"> Filter through photoblogs:</h4>
  <%= search_form_for @q do |f| %>
  <div class="large-6 large-centered text-center">
    <div class="field">
      <p><%= f.label :location, "Location:" %></p>
      <%= f.select :location_cont, [
        ["Austria"], ["Australia"], ["Belgium"], ["Brazil"], ["Chile"],["Croatia"],["France"],["Germany"],["Greece"],["Iceland"], ["India"], ["Italy"],["Spain"],["Thailand"], ["Vietnam"],["United Kingdom"],["USA"]
        ], :include_blank => true, :prompt => "Filter by Location" %>


        <p><%= f.label :category, "By Category:" %></p>
        <%= f.select :category_cont, [["Art"], ["Backpacking"], ["Beach"], ["Camping"], ["City"], ["Food/Dining"],["Landscape"], ["Mountains"],["Museums"], ["Nature"], ["Nightlife"],["Resort"] ], :include_blank => true, :prompt => "Filter by Category" %>
        <%= f.submit "Filter", class:"button" %>
        <%= link_to "Refresh", posts_path %>
        <% end %>
      </div>
    </div>
  </div>
  <br>


  <div class="row small-up-1 medium-up-2 large-up-3" id="posts">
    <% @search.each do |post|%>
    <div class="column user-feed">
      <h4 class="text-center"> <%= link_to "#{post.title}", post_path(post) %></h4>
      <p class="text-center"><%= post.location %></p>
      <img src=" <%= post.image %>" class="thumbnail">
      <p class="body-text"> <%= post.text %></p>
      <%= link_to like_post_path([post]), method: :put do %>
      <i class="fi-heart"></i>
      <%= post.get_upvotes.size %>
      <% end %>
      <p>
        <strong>Posted by:</strong> <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(current_user) %> on <%= post.created_at%>
      </p>
      <p class="text-center tag">
        <%= post.category %>
      </p>
    </div>
    <% end %>
  </div>
