<br>
<h2 class="text-center"> Popular Posts </h2>
  <div class="row small-up-1 medium-up-2 large-up-3" id="posts">
    <% @posts.each do |post|%>
    <div class="box user-feed">
      <img src=" <%= post.image %>" class="thumbnail">
      <h4 class="text-center"> <%= link_to "#{post.title}", post_path(post) %></h4>
      <p class="text-center"><%= post.location %></p>
      <p class="body-text"> <%= post.text %></p>
      <%= link_to like_post_path([post]), method: :put do %>
      <i class="fi-heart"></i>
      <%= post.get_upvotes.size %>
      <% end %>
      <p>
        <strong>Posted by:</strong> <%= link_to "#{post.user.first_name} #{post.user.last_name}", user_path(current_user) %> on <%= post.created_at%>
      </p>
      <p class="text-center tag">
        <%= post.category %>
      </p>
    </div>
    <% end %>
  </div>
