<br>
<div class="large-8 large-centered text-center">
  <div class="callout">
    <h1> <%= @post.title %> </h1>
    <%= @post.location %>
    <p>
      Posted: <%= @post.created_at %> by <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", user_path(current_user) %>
    </p>
    <img src= "<%= @post.image %>">
    <br>
    <%= link_to like_post_path([@post]), method: :put do %>
    <i class="fi-heart"></i>
    <%= @post.get_upvotes.size %>
    <% end %>
    <p> <%= @post.text %></p>
    <p class="tag text-center">
      <%= @post.tag_list %>
    </p>
  </div>
  <%= link_to 'Edit Post', edit_post_path(@post), class:'button pull' %>
  <%= link_to 'Delete', destroy_post_path, method: :delete, class:'button alert' %>
</div>
