<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "WanderLust" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  UPLOADCARE_LOCALE = "en";
  UPLOADCARE_TABS = "file facebook instagram";
  UPLOADCARE_PUBLIC_KEY = "7bdf2269db128a8e49b6";
</script>
<script charset="utf-8" src="//ucarecdn.com/widget/2.10.0/uploadcare/uploadcare.full.min.js"></script>

</head>

<body>
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"> <%= link_to "WanderLust", root_path %> </li>
        <% if current_user %>
        <li class="menu-text"> <%= link_to 'Global Feed', posts_path %></li>
        <li class="menu-text"> <%= link_to '+ New Post', new_post_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <% if current_user %>
        <li class="menu-text"> <%= link_to 'Profile', user_path(current_user) %> </li>
        <li class="menu-text"> <%= link_to 'Logout', logout_path %> </li>
        <% else %>
        <li class="menu-text"> <%= link_to 'Sign Up', signup_path %> </li>
        <li class="menu-text"> <%= link_to 'Login', login_path %> </li>
        <% end %>
      </ul>
    </div>
  </div>

    <% flash.each do |type, m| %>
    <div class="success callout text-center" data-closable>
      <%= m %>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
  <%= yield %>

</body>
</html>
